.home__aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.home__aside .sticky-container {
  position: sticky;
  top: 85px;
  display: grid;
  gap: 1rem;
  overflow-wrap: anywhere;
}

.aside-list {
  background: var(--surface-neutral);
  border-radius: var(--border-radius-base);
}
.aside-list * {
  font-size: 14px;
}
.aside-list .aside-list--empty .aside-list__empty-container {
  display: grid;
  padding: 0 1rem 1rem;
}
.aside-list a.btn.btn-primary {
  color: var(--on-primary);
}
.aside-list .aside-list__header {
  padding: 1rem 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside-list .aside-list__header > .pui-icon-button {
  background: var(--surface);
  color: var(--primary);
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.aside-list .aside-list__header > .pui-icon-button svg.pui-icon {
  fill: var(--primary);
  width: 0.85rem;
  height: 0.85rem;
}
.aside-list .aside-list__body {
  display: grid;
  padding: 0;
  margin: 0;
}
.aside-list.classrooms-container {
  background: var(--primary);
  color: var(--on-primary);
}
.aside-list.classrooms-container .aside-list__header h5 {
  color: var(--on-secondary);
}
.aside-list.classrooms-container .aside-list__empty-footer {
  margin-top: 1rem;
}
.aside-list.classrooms-container a:not(.aside-list__item-container) {
  color: var(--secondary);
}
.aside-list.classrooms-container .btn.btn-secondary {
  color: var(--on-secondary);
}
.aside-list.classrooms-container .aside-list__item-container {
  transition: all 0.3s ease-in;
}
.aside-list.classrooms-container .aside-list__item-container:last-child {
  padding-bottom: 1rem;
}
.aside-list.classrooms-container .aside-list__empty-container {
  padding: 1rem;
  text-align: center;
}
.aside-list.classrooms-container .aside-list__empty-container .pui-button {
  margin-top: 1rem;
}
.aside-list.drafts-container {
  background: var(--secondary);
  color: var(--on-secondary);
}
.aside-list.drafts-container .aside-list__item-container {
  transition: all 0.3s ease-in;
}
.aside-list.drafts-container .aside-list__item-container:last-child {
  padding-bottom: 1rem;
}
.aside-list.drafts-container .aside-list__header h5 {
  color: var(--on-secondary);
}
.aside-list.drafts-container a {
  color: var(--primary);
}
.aside-list.drafts-container a:hover {
  color: var(--primary);
}
.aside-list.drafts-container .aside-list__empty-container {
  padding: 1rem;
  width: 100%;
  text-align: center;
}
.aside-list.drafts-container .aside-list__empty-container footer {
  margin-top: 1rem;
}

.aside-list__empty-icon {
  display: grid;
  place-content: center;
  margin: 0;
  padding: 0 0 1rem;
}
.aside-list__empty-icon .pui-icon {
  height: 2rem;
  width: 2rem;
  fill: var(--on-secondary);
}
.aside-list .aside-list__item {
  display: grid;
  grid-template-columns: auto 1fr;
  background: var(--surface);
  gap: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius-sm);
  align-items: center;
  margin: 0.15rem 1rem;
}
.aside-list .aside-list__item .pui-image {
  height: 60px;
  width: 60px;
  aspect-ratio: 1/1;
  border-top-left-radius: var(--border-radius-sm);
  border-bottom-left-radius: var(--border-radius-sm);
  overflow: hidden;
}
.aside-list .aside-list__item .pui-image img {
  border-top-left-radius: var(--border-radius-sm);
  border-bottom-left-radius: var(--border-radius-sm);
}
.aside-list .aside-list__item h6 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
}
.aside-list .aside-list__item .item__content h6,
.aside-list .aside-list__item .item__content .description {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1; /* Number of lines to show */
  -webkit-box-orient: vertical;
}
.grid-container.columns-8-4 {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 1rem;
}
@media (max-width: 600px) {
  .grid-container.columns-8-4 {
    grid-template-columns: 1fr;
  }
}
.grid-container .main-panel {
  position: relative;
  display: block;
  overflow-x: hidden;
}
.driver-popover {
  background: red;
}

.pui-popover-tour {
  /* Class assigned to popover wrapper */
  /* Arrow pointing towards the highlighted element */
  /* Title and description */
  /* Close button displayed on the top right corner */
  /* Footer of the popover displaying progress and navigation buttons */
}
.pui-popover-tour.driver-popover {
  background: red;
}
.user-profile__container {
  width: 100%;
}

.user-profile {
  background: var(--surface-neutral);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: var(--border-radius-base);
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  position: relative;
  margin-bottom: 1rem;
}
.user-profile .pui-image.user-profile__img {
  height: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  background: var(--surface-variant);
}
.user-profile .user-profile__content {
  padding: 1rem;
  width: 100%;
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.user-profile .user-profile__content > .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}
.user-profile .user-profile__content h3 {
  margin: 0;
  padding: 0;
}
@media (max-width: 600px) {
  .user-profile .user-profile__content {
    flex-direction: column;
  }
  .user-profile .user-profile__content .card__actions {
    align-self: flex-end;
  }
}
.user-profile .card__actions {
  align-self: flex-start;
  justify-items: end;
}
.user-profile .card__actions a {
  color: var(--secondary);
}
@media (max-width: 600px) {
  .user-profile .card__actions {
    font-size: 0.75rem;
    text-align: end;
  }
}

.grid-container {
  display: block;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  grid-gap: 1rem;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
.grid-container h1 {
  margin-top: 1rem;
}
.swiper.swiper-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-inline: 1rem !important;
}
.swiper.swiper-container .swiper-wrapper {
  padding: 1rem 0;
}
.swiper.swiper-container .swiper-slide {
  width: auto;
}
.swiper.swiper-container .pui-icon-button.swiper-button-next,
.swiper.swiper-container .pui-icon-button.swiper-button-prev {
  color: var(--primary);
  background: var(--neutral-90);
}
.swiper.swiper-container .pui-icon-button.swiper-button-next .pui-icon,
.swiper.swiper-container .pui-icon-button.swiper-button-prev .pui-icon {
  fill: var(--primary) !important;
}
.swiper.swiper-container .swiper-button-prev {
  left: 0rem !important;
}
.swiper.swiper-container .swiper-button-next {
  right: 0rem !important;
}
@media (max-width: 600px) {
  .swiper.swiper-container .pui-icon-button.swiper-button-next,
  .swiper.swiper-container .pui-icon-button.swiper-button-prev {
    display: none;
  }
}

.assigments-list {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Adjust as necessary */
  width: 100%; /* Ensures wrapper takes full width of parent */
  overflow: hidden; /* Prevent horizontal scrolling */
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInNjc3NcXGFzaWRlXFxhc2lkZS5zY3NzIiwic2Nzc1xcYXNpZGVcXGNsYXNzcm9vbXMuc2NzcyIsInNjc3NcXGFzaWRlXFxkcmFmdHMuc2NzcyIsInNjc3NcXGFzaWRlXFxpdGVtLnNjc3MiLCJzY3NzXFxjb250YWluZXIuc2NzcyIsInNjc3NcXGRyaXZlci1wb3BvdmVyLnNjc3MiLCJzY3NzXFxzdHlsZXMuc2NzcyIsInNjc3NcXHN3aXBlci1jb250YWluZXIuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNDO0VBQ0E7RUFDQTs7QUFFQTtFQUNDO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7OztBQUdGO0VBQ0M7RUFDQTs7QUFFQTtFQUNDOztBQUlBO0VBQ0M7RUFDQTs7QUFHRjtFQUNDOztBQUVEO0VBQ0M7RUFDQTtFQUNBO0VBQ0E7O0FBQ0E7RUFDQztFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUNBO0VBQ0M7RUFDQTtFQUNBOztBQUtIO0VBQ0M7RUFDQTtFQUNBOztBQ3BERjtFQUNDO0VBQ0E7O0FBQ0E7RUFDQzs7QUFHRDtFQUNDOztBQUdEO0VBQ0M7O0FBR0Q7RUFDQzs7QUFHRDtFQUtDOztBQUpBO0VBQ0M7O0FBTUY7RUFDQztFQUNBOztBQUNBO0VBQ0M7O0FDL0JIO0VBQ0M7RUFDQTs7QUFFQTtFQUVDOztBQUNBO0VBQ0M7O0FBR0Y7RUFDQzs7QUFHRDtFQUNDOztBQUNBO0VBQ0M7O0FBR0Y7RUFDQztFQUNBO0VBQ0E7O0FBQ0E7RUFDQzs7O0FBS0g7RUFDQztFQUNBO0VBRUE7RUFDQTs7QUFFQTtFQUNDO0VBQ0E7RUFDQTs7QUN6Q0Y7RUFDQztFQUNBO0VBQ0E7RUFDQTtFQUVBO0VBQ0E7RUFDQTtFQUVBOztBQUNBO0VBQ0M7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUNBO0VBQ0M7RUFDQTs7QUFJRjtFQUNDO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFHQTtBQUFBO0VBRUM7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FDdkNGO0VBQ0M7RUFDQTtFQUNBOztBQUVBO0VBTEQ7SUFNRTs7O0FBSUY7RUFDQztFQUNBO0VBQ0E7O0FDZkY7RUFDQzs7O0FBR0Q7QUFDQztBQU1BO0FBSUE7QUFNQTtBQUlBOztBQWxCQTtFQUNDOztBQ1JGO0VBQ0M7OztBQUVEO0VBQ0M7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFFQTtFQUNBOztBQUVBO0VBQ0M7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVEO0VBQ0M7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFDQTtFQUNDO0VBQ0E7RUFDQTtFQUNBOztBQUVEO0VBQ0M7RUFDQTs7QUFFRDtFQWhCRDtJQWlCRTs7RUFDQTtJQUNDOzs7QUFLSDtFQUNDO0VBQ0E7O0FBQ0E7RUFDQzs7QUFFRDtFQU5EO0lBT0U7SUFDQTs7OztBQUtIO0VBQ0M7RUFDQTtFQUNBO0VBQ0E7O0FBRUE7RUFORDtJQU9FOzs7QUFHRDtFQUNDOztBQ3ZFRjtFQUNDO0VBRUE7RUFDQTtFQUNBO0VBQ0E7O0FBQ0E7RUFDQzs7QUFHRDtFQUNDOztBQU1EO0FBQUE7RUFFQztFQUNBOztBQUNBO0FBQUE7RUFDQzs7QUFHRjtFQUNDOztBQUVEO0VBQ0M7O0FBRUQ7RUFDQztBQUFBO0lBRUM7Ozs7QUFLSDtFQUNDO0VBQ0E7RUFDQTtFQUNBO0VBQ0EiLCJmaWxlIjoiIn0= */